<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body style="background-color: navy;">
<form action = "http://localhost:5000/showitems" method = "POST">
    <table style="text-align:center;">
        <tr><td style="color:yellow;">Item Name</td>
        <td><input type ="text" name = 'Item Name'></td></tr>

        <tr><td style="color:yellow;">Item ID</td>
        <td><input type ="text" name ="Item ID"></td></tr>

        <tr><td style="color:yellow;">Quantity</td>
        <td><input type ="text" name ="Quality"></td></tr>

         <tr><td style="color:yellow;">Price</td>
        <td><input type ="text" name ="Price"></td></tr>
        <tr><td><input type = "submit"></td></tr>
    </table>
</form>
</body>
</html>
